Source: lxnm
Section: net
Priority: optional
Maintainer: Andrew Lee <andrew@linux.org.tw>
Build-Depends: debhelper (>= 5), autotools-dev, libiw-dev, libglib2.0-dev, docbook-to-man
DM-Upload-Allowed: yes
Standards-Version: 3.8.0.0
Homepage: http://lxde.org

Package: lxnm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, net-tools, wpasupplicant, wireless-tools, dhcp3-client, lxpanel-netstat-plugin (>= 0.3.7)
Conflicts: network-manager
Description: Lightweight X11 Network Manager
 LXNM(Lightweight X11 Network Manager) is a script-based lightweight 
 network manager with fewer dependencies. It attempts to make networking 
 configuration and setup as painless and automatic as possible.
 .
 LXNM is the default Network Manager for LXDE(the Lightweight X11 
 Desktop Environment) project. It currently only works with netstat 
 plugin of lxpanel.
